*,
::after,
::before {
  box-sizing: border-box;
}

/* 可以不使用fastclick解决移动端300ms延迟的问题了 */
html {
  touch-action: manipulation;
}

img {
  width: 100%;
}

.mr5 {
  margin-right: 5px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
